[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true

[packages]
dynamodb_json ="*"
jsonschema = "*"
jsonref = "*"
pyyaml = "*"
jsonpickle = "*"

[dev-packages]
autopep8 = "*"
pylint = "*"
pylint-report = "*"
pytest = "*"
pytest-html = "*"
pytest-cov = "*"
pylint-quotes = "*"

[scripts]
test = "python -m unittest discover"
coverage = "coverage run --source acai_aws/ -m  pytest tests/acai_aws --cov=acai_aws --junitxml ./coverage/reports/xunit.xml --cov-report xml:./coverage/reports/coverage.xml --html=./coverage/unit-test/index.html --self-contained-html --cov-report html:./coverage -p no:warnings -o log_cli=true"
lint = "pylint acai_aws"
