[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true

[packages]
boto3 = "*"
dynamodb_json = "*"
jsonpickle = "*"
jsonref = "*"
jsonschema = "*"
pyyaml = "*"
simplejson = "*"
xmltodict = "*"

[dev-packages]
autopep8 = "*"
moto = "*"
pylint = "*"
pylint-quotes = "*"
pytest = "*"
pytest-html = "*"
pytest-cov = "*"

[scripts]
test = "python -m unittest discover"
coverage = "coverage run --source acai/ -m pytest tests/acai --cov=acai --junitxml ./coverage/reports/xunit.xml --cov-report xml:./coverage/reports/coverage.xml --html=./coverage/reports/index.html --self-contained-html --cov-report html:./coverage -p no:warnings -o log_cli=true"
lint = "pylint acai --recursive=y --load-plugins pylint_quotes --fail-under 10 --output-format=text:coverage/lint/report.txt,json:coverage/lint/report.json,parseable,colorized"
