version: 2.1
orbs:
    slack: circleci/slack@3.4.2
    sonarcloud: sonarsource/sonarcloud@1.0.2
commands:
    python-install:
        steps:
            - run: pip install pipenv
            - run: pipenv install
    python-test-install:
        steps:
            - restore_cache:
                key: deps9-{{ .Branch }}-{{ checksum "Pipfile.lock" }}
            - run: pip install pipenv
            - run: pipenv install --dev
            - save_cache:
                key: deps9-{{ .Branch }}-{{ checksum "Pipfile.lock" }}
                paths:
                    - ".venv"
    python-lint:
        steps:
            - run: mkdir coverage && mkdir coverage/lint || exit 0
            - run: python3 -m pipenv run lint | python3 -m pipenv run pylint_report.py > ./coverage/lint/report.html || exit 0
            - store_artifacts:
                path: ./coverage/lint/report.html
    python-test:
        steps:
            - run: pipenv run test
    python-report:
        steps:
            - run: pipenv run coverage
            - store_test_results:
                path: ./coverage/reports
            - store_artifacts:
                path: ./coverage
    pypi-setup:
        steps:
            - run: echo -e "[pypi]" >> ~/.pypirc
            - run: echo -e "username = __token__" >> ~/.pypirc
            - run: echo -e "password = $PYPI_TOKEN" >> ~/.pypirc
    pypi-deploy:
        steps:
            - run: python3 -m pip install --user --upgrade setuptools wheel
            - run: python3 setup.py sdist bdist_wheel
            - run: python3 -m pip install --user --upgrade twine
            - run: python3 -m twine upload dist/*
    slack-status:
        steps:
            - slack/status:
                mentions: '${CIRCLE_USERNAME}, version=$CIRCLE_TAG'
    slack-error:
        steps:
            - slack/status:
                fail_only: true
                mentions: '${CIRCLE_USERNAME}'
jobs:
    install-build-test:
        docker:
            - image: cimg/python:3.8
        steps:
            - checkout
            - python-test-install
            - python-lint
            - python-test
            - python-report
            - sonarcloud/scan
            - slack-error
    install-build-deploy:
        docker:
            - image: cimg/python:3.8
        steps:
            - checkout
            - python-install
            - pypi-setup
            - pypi-deploy
            - slack-status
workflows:
    install-build-deploy:
        jobs:
            - install-build-deploy:
                context:
                    - tools-cicd
                    - pypi-token
                    - sonarcloud-token
                filters:
                    tags:
                        only: /.*/
                    branches:
                        ignore: /.*/
    install-build-test:
        jobs:
            - install-build-test:
                context:
                    - tools-cicd
                    - pypi-token
                    - sonarcloud-token
                filters:
                    tags:
                        ignore: /.*/
                    branches:
                        ignore: /dependabot.*/
